/*
	Antonio CAVALLARO Official Web Site
	
*/

@import url('font-awesome.min.css');
	
@font-face{
	font-family: Web-Serveroff;
	src: url('../webfonts/WebServeroff.ttf') format('ttf'),
	 	 url('../webfonts/webserveroff-webfont.woff') format('woff'),
	 	 url('../webfonts/webserveroff-webfont.woff2') format('woff2');
}

@font-face{
	font-family: Web-Serveroff;
	font-style: italic;
	src: url('../webfonts/WebServeroff-Italic.ttf') format('ttf'),
	 	 url('../webfonts/webserveroff-italic-webfont.woff') format('woff'),
	 	 url('../webfonts/webserveroff-italic-webfont.woff2') format('woff2');
}



*{
	box-sizing: border-box;
}


.frmList{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.frmList > li{
	margin-bottom: 1vh;
}


/* MEDIA - Mobile Screen */
@media screen and (max-width: 827px) {
	iframe.map{
		width: 100%;
		height: calc(100vw * 3 / 4 );
	}
	
	
	form > ul.frmList, form > ul.frmList > li{
		width: 100%;
	}
	
	form > ul.frmList > li > label{
		display: none;
	}

	form > ul.frmList > li > input{
		display: block;
		width: 100%
	}
	
	
	.profile-photo>figcaption{
		display: none;
	}
	
	nav > ul {
		width: 100%;
		height: auto;
	}
	
	
	nav > ul > li{
		width: 100%;
		
	}
	

	nav > ul > li:not(:first-of-type){
		display: none;
		
	}

	
	nav > ul > li > a{
		text-align: left !important;

	}	
	
	nav > ul > li:not(:first-of-type) > a{
		padding-left: 2vh !important;

	}		
	
	
	div#myinstagramaccount  img{
		width: calc(95vw /3);
		height: auto;
	}
	
}


/* MEDIA - Desktop Screen */

@media screen and (min-width: 828px) {
	iframe.map{
		width: 50%;
		height: calc(50vw * 3 / 4 );
	}
	

	ul.frmList{
		display: flex;
		flex-direction: column;
	}

	ul.frmList>li{
		display: flex;
		flex: 1 1 auto;
		justify-content: space-around;
/* 		text-align: right; */
	}
	
	ul.frmList>li>label{
		flex: 2;
/* 		border: 1px solid blue; */
		height: inherit;
		padding-left: 1vw;
		
	}
	
	ul.frmList>li>input{
		flex: 12 ;
/* 		border: 1px solid red; */
		height: inherit;
	}
	
	nav > ul > li{
		display: list-item;
		
	}


	div#myinstagramaccount  img{
		width: calc(95vw /6);
		height: auto;
	}

}

/*
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
*/


body{
	font-family: Web-Serveroff, sans-serif;
	font-size: 14pt;
/* 	margin-top: 4rem; */
}

section{
/* 	min-height: 50vh; */
/* margin-bottom: 4vh; */
}

nav{

/* 	display: block; */
	position: fixed;
	font-size: 18pt;
	top: 0;
	left: 0;
	color: white;
	background-color: black;
	width: 100%;
	height: auto;

}


nav>ul{
	margin: 0;
	padding: 0.2rem 0;
	padding-left: 0;
	display: flex;
	justify-content: center;
/* 	align-items:flex-start; */
	flex-wrap: wrap;
	list-style: none;
	width: 100%;

	height: auto;

}

nav>ul>li:first-of-type{
	flex: 1 1 auto;
	margin-left: 0;
	
}


nav>ul>li:first-of-type span.fa{
	font-size: 16pt;
}

nav>ul>li{
	flex: 6 1 auto;
	padding: 0 1rem;
	margin-left: 0;
}

nav>ul>li>a{
	display: inline-block;
	width: 100%;
	height: inherit;
	text-decoration: none;
	color: white;
	text-align: center;
	vertical-align: middle;
}

nav>ul>li>a:hover{
	background-color: rgba(63, 59, 59, 0.95);
	border-radius: 50px;
}

h2{
	font-style: italic;
}



nav .fa{
	font-size: 10pt;
	vertical-align: middle;

}



main{
/* 	margin-top: 4rem; */
}


figure.profile-photo{
	display: inline-block;
	width: 10vw;
/* 	border: 1px solid red; */
/* 	background-color: violet; */
	margin: 0;
}
.profile-photo>img{
	width: 100%;
	height: auto;

}


.profile-photo>figcaption{
	text-align: center;
	font-style: italic;
	width: inherit;
}

figure.profile-photo ~ p:first-of-type{
/* 	background-color: cyan; */
	display: inline-block;
	width: 85vw;
	vertical-align: top;
	margin: 0;
	
}

form, input, input[type=submit], input[type=reset], legend{
	font-family: Web-Serveroff, sans-serif;
	font-size: 14pt;
}

legend{
	font-size: 1.2em;
	text-decoration: underline;
	margin-bottom: 1vh;

}

.text-align-right{
	text-align: right;
}



